{% extends "Layout/layout-default.html.twig" %}
{% block title %}{{ 'edit_twitter'|trans }}{% endblock %}
{% block main %}
    <div class="uk-container uk-container-xsmall" xmlns="http://www.w3.org/1999/html">
        <div class="uk-section uk-padding uk-background-default kuk-shadow">
            {{ form_start(form) }}
                {{ form_row(form.text) }}
                {{ form_row(form.video) }}
                {{ form_row(form.photo) }}

                <!--Twitter Pre View -->
                <div class="center">{{ 'pre_view_twitter'|trans }}</div>
                {{ include('web/twitter/modeView/full.html.twig', { 'twitter' : twitter, 'twitterWidthVideo':650, 'modeView':'edit' }) }}
                <span class="input-group-prepend">
                    <button class="btn btn-secondary" type="submit">{{ 'edit'|trans }}</button>
                </span>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}