{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div class="uk-card uk-card-default uk-card-small uk-margin-small">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img data-src="{% if twitter.user.avatar != null %}/files/user/avatar/{{ twitter.user.avatar }}{% else %}/images/system/no-profile-pic.png{% endif %}" width="40" height="40" alt uk-img>
                        </div>
                        <div class="uk-width-expand">
                            <div>
                                <a class="uk-text-small uk-text-muted" href="{{ path('web_user_profile', { 'id' : twitter.user.id }) }}">
                                    {{ twitter.user.firstName }}{{ twitter.user.lastName }}
                                </a>
                            </div>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ twitter.createdAt|date('Y-m-d H:i:s') }}">{{ twitter.createdAt|date('M d, Y') }}</time></p>
                        </div>
                        {% if app.user %}
                            {{ include('web/twitter/menu.html.twig', { 'twitter' : twitter }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="uk-card uk-card-body">
                    {% if twitter.text is not null %}
                        <div class="st-post-fd st-post-fd--text"><p>{{ twitter.text|nl2br  }}</p></div>
                    {% endif %}
                    {% if twitter.photo is not null %}
                        <div class="st-post-fd st-post-fd--photo uk-text-center">
                            <img data-src="/files/twitter/photo/{{ twitter.photo }}" alt uk-img style="max-width: 550px">
                        </div>
                    {% endif %}
                    {% if twitter.video is not null %}
                        <div class="st-post-fd st-post-fd--embed">
{#                            {{ twitter.embedVideo|video_embed_iframe }}#}
                            {{ twitter.video }}
                        </div>
                    {% endif %}
                    {% if twitter.parent is not null %}
                        {{ include('web/twitter/modeView/share.html.twig', {'twitter.parent': twitter.parent } ) }}
                    {% endif %}
                </div>
                <div class="uk-card-footer">
                    {% if twitter.parent is null and app.user and app.user.id != twitter.user.id %}
                        {{ include('web/twitter/inc/twiitter-post-action-link.html.twig', { 'twitter' : twitter, 'comments': comments }) }}
                    {% elseif twitter.parent is null or twitter.isParent %}
                        {{ include('web/twitter/inc/twiitter-post-action.html.twig', { 'twitter' : twitter, 'comments': comments }) }}
                    {% endif %}
                </div>
            </div>
            {% if app.user %}
                {{ render(controller('App\\Controller\\Web\\TwitterCommentController::create', {'id_twitter':twitter.id})) }}
            {% endif %}
            {{ include('web/twitterComment/list.html.twig', {'comments' : comments}) }}
{#            {{ include('pagination/kpn_pagination.html.twig', {'field' : comments}) }}#}
        </div>
    </div>
{% endblock %}