{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            <div class="uk-card uk-card-default uk-card-small uk-margin-small">
                <!-- Twitter Header -->
                <div class="uk-card-header">
                    {{ include('web/twitter/inc/header.html.twig', { 'twitter' : twitter }) }}
                </div>
                <!-- Twitter Body -->
                <div class="uk-card uk-card-body">
                    {{ include('web/twitter/inc/body.html.twig', { 'twitter' : twitter }) }}
                </div>
                <!-- Twitter Footer -->
                <div class="uk-card-footer">
                    {{ include('web/twitter/inc/footer.html.twig', { 'twitter' : twitter }) }}
                </div>
            </div>
            <!-- Comment Form -->
            {% if app.user %}
                {{ render(controller('App\\Controller\\Web\\TwitterCommentController::create', {'id_twitter':twitter.id})) }}
            {% endif %}
            <!-- List Comments -->
            {{ include('web/twitterComment/list.html.twig', {'comments' : comments}) }}
            <!-- Pagination Comments -->
{#            {{ include('pagination/kpn_pagination.html.twig', {'field' : comments}) }}#}
        </div>
    </div>
{% endblock %}