<div class="uk-card uk-card-default uk-card-small uk-margin-small">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img data-src="{% if friend.user.avatar != null %}/files/user/avatar/{{ friend.user.avatar }}{% else %}/images/system/no-profile-pic.png{% endif %}" width="40" height="40" alt uk-img>
            </div>
            <div class="uk-width-expand">
                <div>
                    <a class="uk-text-small uk-text-muted"
                       href="{{ path('web_user_profile', {'id': friend.user.id}) }}">
                        {{ friend.user.firstName }} {{ friend.user.lastName }}
                    </a>
                </div>
                <p class="uk-text-meta uk-margin-remove-top">
                    <time datetime="{{ friend.createdAt|date('Y-m-d H:i') }}">{{ friend.createdAt|date('Y-m-d H:i') }}</time>
                </p>
            </div>
        </div>
    </div>
</div>