{% extends "Layout/layout-default.html.twig" %}
{% block title %}{{ 'aplications_users'|trans }}{% endblock %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            {% for follower in followers %}
                {{ render(controller('App\\Controller\\Web\\FriendController::friendUserInfo',{ 'idUser' : follower.user.id })) }}
                <p uk-margin class="center">
                    <a href="{{ path('web_user_friend_status_change',{ 'friend':follower.user.id, 'status': 'add' }) }}" style="text-decoration: none">
                        <button class="uk-button uk-button-default">{{ 'accept'|trans }}</button>
                    </a>
                    <a href="{{ path('web_user_friend_status_change',{ 'friend':follower.user.id, 'status': 'reject' }) }}" style="text-decoration: none">
                        <button class="uk-button uk-button-danger">{{ 'reject'|trans }}</button>
                    </a>
                </p>
            {% else %}
                <p uk-margin class="center">{{ 'no_new_applications'|trans }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}