<div class="uk-card uk-card-default uk-card-small uk-margin-small">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img data-src="{% if user.avatar != null %}/files/user/avatar/{{ user.avatar }}{% else %}/images/system/no-profile-pic.png{% endif %}" width="40" height="40" alt uk-img>
            </div>
            <div class="uk-width-expand">
                <div>
                    <a class="uk-text-small uk-text-muted" href="{{ path('web_user_profile', { 'id' : twitter.user.id }) }}">
                        {{ twitter.user.firstName }} {{ twitter.user.lastName }}
                    </a>
                </div>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ twitter.createdAt|date('Y-m-d H:i:s') }}">{{ twitter.createdAt|date('Y-m-d H:i') }}</time></p>
            </div>
            {% if app.user %}
                {{ include('web/twitter/menu.html.twig', { 'twitter' : twitter }) }}
            {% endif %}
        </div>
    </div>
    <div class="uk-card uk-card-body">
        {% if twitter.text is not null %}
            <div class="st-post-fd st-post-fd--text"><p>{{ twitter.text|nl2br  }}</p></div>
        {% endif %}
        {% if twitter.photo is not null %}
            <div class="st-post-fd st-post-fd--photo uk-text-center">
                <img data-src="/files/twitter/photo/{{ twitter.photo }}" alt uk-img style="max-width: 550px">
            </div>
        {% endif %}
        {% if twitter.video is not null %}
            <div class="st-post-fd st-post-fd--embed">
{#                <div class="st-post-fd st-post-fd--embed">{{ twitter.video|video_embed_iframe }}</div><br>#}
            </div>
        {% endif %}
        {% if twitter.isParent == true %}
            <div class="st-post-fd st-post-fd--parent">
                {{ include('web/twitter/modeView/full.html.twig', {'twitter': twitter.parent } ) }}
            </div>
        {% else %}
            <div class="st-post-fd st-post-fd--show uk-text-small">
                <a href="{{ path('web_twitter_view', {'id': twitter.id}) }}">{{ 'more_details'|trans }}</a>
            </div>
        {% endif %}
    </div>
    <div class="uk-card-footer">
        {{ include('web/twitter/inc/twiitter-post-action.html.twig', { 'twitter' : twitter }) }}
    </div>
</div>