<div class="uk-card uk-card-default uk-card-small uk-margin-small">
    <!-- Twitter Header -->
    <div class="uk-card-header">
        {{ include('web/twitter/inc/header.html.twig', { 'twitter' : twitter }) }}
    </div>

    <!-- Twitter Body -->
    <div class="uk-card uk-card-body">
        {{ include('web/twitter/inc/body.html.twig', { 'twitter' : twitter, twitterWidthVideo:twitterWidthVideo }) }}
    </div>
    {% if modeView =='list' or  modeView =='view'%}
        <!-- Twitter Show Button -->
        <div class="st-post-fd st-post-fd--show uk-text-small">
            <a href="{{ path('web_twitter_view', {'id': twitter.id}) }}">{{ 'more_details'|trans }}</a>
        </div>
    {% endif %}
    {% if modeView =='list' or  modeView =='view'%}
        <!-- Twitter Footer -->
        <div class="uk-card-footer">
            {{ include('web/twitter/inc/footer.html.twig', { 'twitter' : twitter }) }}
        </div>
    {% endif %}
</div>